.dashboard-greeting-container {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  padding: 1em;
  width: 87vw;
  height: 30vh;
  background-image: linear-gradient(to right, #5bbfba, #5f6caf);
}

.h3-paragraph-container {
  margin-top: 60px;
}
