.main-page-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}

.header {
  grid-area: 1 / 1 / 1 / 10;
}

.quick-quote {
  grid-area: 3 / 2 / 3 / 2;
}

.pending-quotes {
  grid-area: 3 / 3 / 5 / 7;
}

.completed-quotes {
  grid-area: 5 / 2 / 10 / 8;
}

.side-nav {
  grid-area: 2 / 1 / 9 / 1;
}

.greeting-dashboard {
  grid-area: 2 / 2 / 2 / 5;
}

.new-leads {
  grid-area: 3 / 7 / 7 / 10;
}

.popular-packages {
  grid-area: 5 / 3 / 9 / 10;
}
