.quick-quote-container {
  width: 25vw;
}

.form_validation {
  margin: 10px;
  color: black;
  font-weight: 800;
}

.input-fields {
  padding-left: 10px;
}

.submit-button {
  margin-top: 20px;
  padding-left: 140px;
}
